# Node
node_modules/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Java
target/
*.class
*.jar
*.war

# Maven
.mvn/wrapper/maven-wrapper.jar

# IntelliJ
out/

# Eclipse
.project
.classpath
.settings/

# Mac
.DS_Store